{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
لیست ایونت های روزانه
{% endblock %}{% endblock %}


{% block main %}
<div class="row">
    <div class="col-12">
        {% if object_list %}
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-2 text-center">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>عنوان</th>
                    <th>جزییات</th>
                    <th>عملیات</th>
                    {% comment %} <th>تصویر</th> {% endcomment %}
                    {% comment %} <th>دسته بندی</th> {% endcomment %}
                    {% comment %} <th>نویسنده</th> {% endcomment %}
                    {% comment %} <th>خلاصه</th> {% endcomment %}
                    {% comment %} <th>ویژه</th> {% endcomment %}
                    <th>وضعیت</th>
                  </tr>
                </thead>
                <tbody>
                    {% for event in object_list %}
                        <tr>
                            <td>
                              {{event.title}}
                            </td>
                            {% comment %} <td><img src="{{article.thumbnail.url}}" width="120" height="80" style="border-radius: 6px  ;"></td> {% endcomment %}
                            {% comment %} <td>{{article.catagoy_to_list}}</td> {% endcomment %}
                            {% comment %} <td>{{article.author.get_full_name}}</td> {% endcomment %}
                            <td>{{event.description|striptags|truncatewords:30}}</td>
                            

                            <td>{{event.start_time}} - {{event.end_time}}</td>
                            {% comment %} <td>{{event.end_time}}</td> {% endcomment %}
                            {% comment %} <td>
                              {% if article.is_special %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% else %}
                                <i class="fa fa-minus-circle" style="color: red"></i>
                              {% endif %}

                            {% comment %} <td>
                              {% if article.is_special %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% else %}
                                <i class="fa fa-minus-circle" style="color: red"></i>
                              {% endif %}
                            </td>   {% endcomment %}
                             <td>        
                              {% if event.on_time %}
                                <span class="badge badge-warning">یکبار</span>
                                <a class="badge badge-info"href="{% url 'calander:update_daily' event.pk %}">ویرایش</a>
                                <a class="badge badge-danger"href="{% url 'calander:delete_daily' event.pk %}">حذف</a>
                              {% else %}
                                <span class="badge badge-success">هفتگی</span>
                                <a class="badge badge-info"href="{% url 'calander:update_weekly' event.pk %}">ویرایش</a>
                                <a class="badge badge-danger"href="{% url 'calander:delete_weekly' event.pk %}">حذف</a>
                              {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        {% else %}
          <h3> محتوایی برای نمایش وجود ندارد. </h3>
        {% endif %}
      <!-- /.card -->
    </div>
  </div>
{% endblock %}
