{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
لیست ایونت های هفتگی {% if is_odd_week %}
<span class="badge badge-info">هفته ی فرد</span>
{% else %}
<span class="badge badge-warning">هفته ی زوج</span>
{% endif %}

{% endblock %}{% endblock %}


{% block main %}

<div class="row">
  <div class="col-4">
    <a href="{{previous_week}}" class="btn btn-secondary btn-block">هفته قبل</a>
  </div>
  <div class="col-4">
    <a href="" class="btn btn-secondary btn-block">{{last_day_of_week}} - {{first_day_of_week}}</a>
  </div>
  <div class="col-4">
    <a href="{{next_week}}" class="btn btn-secondary btn-block">هفته بعد</a>
  </div>
</div>

<br>

<div class="row">
  {% if is_half_year_selected %}
    <div class="col-12">
        {% if object_list %}
          <div class="card">
            <!-- /.card-header -->
           
            <div class="card-body table-responsive p-2 text-center">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>عنوان</th>
                    <th>جزییات</th>
                    <th>شنبه</th>
                    <th>یکشنبه</th>
                    <th>دوشنبه</th>
                    <th>سه شنبه</th>
                    <th>چهارشنبه</th>
                    <th>پنجشنبه</th>
                    <th>جمعه</th>
                    <th>عملیات</th>
                    <th>وضعیت</th>
                  </tr>
                </thead>
                <tbody>
                    {% for event in object_list %}
                        <tr>
                            <td>
                              {{event.title}}
                            </td>
                            <td>{{event.description|striptags|truncatewords:30}}</td>

                            <td >
                              {% if event.on_saturday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_sunday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_monday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_tuesday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_wednesday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_thursday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td >
                              {% if event.on_friday %}
                                <i class="fa fa-check-circle" style="color: green"></i>
                              {% endif %}
                            </td>

                            <td>{{event.start_time}} - {{event.end_time}}</td>
                             <td>        
                              {% if event.on_time %}
                                <span class="badge badge-warning">یکبار</span>
                                <a class="badge badge-info"href="{% url 'calander:update_daily' event.pk %}">ویرایش</a>
                                <a class="badge badge-danger"href="{% url 'calander:delete_daily' event.pk %}">حذف</a>
                                {% else %}
                                  {% if event.event_type == 1 %}
                                    <span class="badge badge-success">هفتگی</span>
                                  {% elif event.event_type == 2 %}
                                    <span class="badge badge-info">هفته ی فرد</span>
                                  {% elif event.event_type == 3 %}
                                    <span class="badge badge-warning">هفته ی زوج</span>
                                  {% endif %}
                                <a class="badge badge-info"href="{% url 'calander:update_weekly' event.pk %}">ویرایش</a>
                                <a class="badge badge-danger"href="{% url 'calander:delete_weekly' event.pk %}">حذف</a>
                              {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            
            <!-- /.card-body -->
          </div>
        {% else %}
          <h3> محتوایی برای نمایش وجود ندارد. </h3>
        {% endif %}
      <!-- /.card -->
    </div>
    {% else %}
    <div class="col-md-8 text-center mx-auto">
      <!-- general form elements -->
      <div class="card card-danger">
          <div class="card-header">
                  <h3 class="card-title mb-0 float-left">هشدار!</h3>
              </div>
                  <div class="card-body py-4">
                          <p class="py-2">شما هنوز سال تحصیلی پیش فرض را انتخاب نکرده اید.</p>
                          <div class="row">
                            <div class="col-4"></div>
                              <div class="col-4">
                                  <a href="{% url 'users:profile' %}" class="btn btn-danger btn-block">انتخاب</a>
                              </div>
                          </div>
                  </div>
          </div>
      </div>
        
    {% endif %}
  </div>
{% endblock %}
